<!DOCTYPE html>
<html>

<head>
    <title>Covid-19 i Norge</title>
    <style>
        .error {
            color: red;
        }
        .left {
            float: left;
            max-width: 800px;
        }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>

<body>

    <h1>Covid-19 tilfeller i Norge</h1>

    <a href="/help">Se dokumentasjon</a>

    <br>
    <br>
    <!-- call submitForm() function on submit (button) -->
    <form onsubmit="return submitForm();" id="form">

        <label for="fylke">Velg et fylke:</label>
        <!-- Drop down menu of all counties -->
        <select id="fylke" name="fylke">
    
            {% for county in ["Alle fylker", "Agder", "Innlandet", "Møre og Romsdal", "Nordland", "Oslo", "Rogaland", "Troms og Finnmark", "Trøndelag", "Vestfold og Telemark", "Vestland", "Viken"] %}
            <option value="{{ county }}" {% if selected_county==county %} selected {% endif %}>{{ county }}</option>
            {% endfor %}
    
        </select>

        <input type="submit" value="Oppdater" />
    </form>
    <br>

    <!-- Align the first three plots to the left -->
    <div class="left">
        <div id="vis1"></div>
        <br>
        <br>
        <div id="vis2"></div>
        <br>
        <br>
        <div id="vis3"></div>
    </div>
    
    <!-- Align the last plot next to the others if possible -->
    <div id="vis4" class="left"></div>

    <script>
        function submitForm() {
            // Call plot function when the form is submitted
            plot();
            // Return false to prevent reloading of page on submit
            return false;
        }
        async function plot() {
            // Plots the reported and cumulative cases of COVID-19

            var county = document.getElementById("fylke").selectedOptions[0].value;

            // Submit POST requests with the county chosen as JSON body
            var response_reported_cases = await fetch("plot_reported.json", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(county)
            });
            var response_cumulative_cases = await fetch("plot_cumulative.json", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(county)
            });
            var response_both = await fetch("plot_both.json", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(county)
            });
            
            // Resposnse is the vega spec JSON
            var spec_reported_cases = await response_reported_cases.json();
            var spec_cumulative_cases = await response_cumulative_cases.json();
            var spec_both = await response_both.json();
            
            var embedOpt = {
                "mode": "vega-lite"
            };

            function showError(el, error) {
                el.innerHTML = ('<div class="error" style="color:red;">'
                    + '<p>JavaScript Error: ' + error.message + '</p>'
                    + "<p>This usually means there's a typo in your chart specification. "
                    + "See the javascript console for the full traceback.</p>"
                    + '</div>');
                throw error;
            }
            const el_reported_cases = document.getElementById('vis1');
            vegaEmbed("#vis1", spec_reported_cases, embedOpt)
                .catch(error => showError(el_reported_cases, error));
            const el_cumulative_cases = document.getElementById('vis2');
            vegaEmbed("#vis2", spec_cumulative_cases, embedOpt)
                .catch(error => showError(el_cumulative_cases, error));
            const el_both = document.getElementById('vis3');
            vegaEmbed("#vis3", spec_both, embedOpt)
                .catch(error => showError(el_both, error));
        }

        async function plot_map() {
            // Plots a map of Norway with cases per 100k capita
            var response_norway = await fetch("plot_norway.json");
            var spec_norway = await response_norway.json();

            var embedOpt = {
                "mode": "vega-lite"
            };
            
            function showError(el, error) {
                el.innerHTML = ('<div class="error" style="color:red;">'
                    + '<p>JavaScript Error: ' + error.message + '</p>'
                    + "<p>This usually means there's a typo in your chart specification. "
                    + "See the javascript console for the full traceback.</p>"
                    + '</div>');
                throw error;
            }

            const el_norway = document.getElementById('vis4');
            vegaEmbed("#vis4", spec_norway, embedOpt)
                .catch(error => showError(el_norway, error));
        }
        // Invoke on page load
        plot();
        plot_map();
    </script>
</body>

</html>