<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module web_visualization</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>web_visualization</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/Users/Lena/Documents/GitHub/IN3110-lenamos/assignment6/web_visualization.py">/Users/Lena/Documents/GitHub/IN3110-lenamos/assignment6/web_visualization.py</a></font></td></tr></table>
    <p></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="altair.html">altair</a><br>
<a href="json.html">json</a><br>
</td><td width="25%" valign=top><a href="os.html">os</a><br>
<a href="pandas.html">pandas</a><br>
</td><td width="25%" valign=top><a href="re.html">re</a><br>
</td><td width="25%" valign=top></td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-display_help"><strong>display_help</strong></a>()</dt><dd><tt>Creates&nbsp;the&nbsp;help&nbsp;page.<br>
&nbsp;<br>
Returns:<br>
&nbsp;&nbsp;&nbsp;&nbsp;str:&nbsp;The&nbsp;HTML&nbsp;from&nbsp;template&nbsp;'web_visualization.html'.</tt></dd></dl>
 <dl><dt><a name="-plot_both"><strong>plot_both</strong></a>(data, county='Alle fylker', start='2020-02-21', end='2020-11-23')</dt><dd><tt>Creates&nbsp;a&nbsp;plot&nbsp;displaying&nbsp;both&nbsp;bars&nbsp;for&nbsp;reported&nbsp;cases&nbsp;and&nbsp;a&nbsp;line&nbsp;for&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;cumulative&nbsp;cases&nbsp;of&nbsp;Covic-19&nbsp;in&nbsp;given&nbsp;county.<br>
&nbsp;<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;data&nbsp;(pandas.core.frame.DataFrame):&nbsp;The&nbsp;data&nbsp;to&nbsp;be&nbsp;plotted.<br>
&nbsp;&nbsp;&nbsp;&nbsp;county&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;county&nbsp;to&nbsp;be&nbsp;plotted.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defaults&nbsp;to&nbsp;"Alle&nbsp;fylker".<br>
&nbsp;&nbsp;&nbsp;&nbsp;start&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;start&nbsp;date&nbsp;for&nbsp;the&nbsp;time&nbsp;range&nbsp;(inclusive).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format:&nbsp;YYYY-MM-DD.&nbsp;Defaults&nbsp;to&nbsp;"2020-02-21".<br>
&nbsp;&nbsp;&nbsp;&nbsp;end&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;end&nbsp;date&nbsp;for&nbsp;the&nbsp;time&nbsp;range&nbsp;(inclusive).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format:&nbsp;YYYY-MM-DD.&nbsp;Defaults&nbsp;to&nbsp;"2020-11-23".<br>
&nbsp;<br>
Returns:<br>
&nbsp;&nbsp;&nbsp;&nbsp;altair.vegalite.v4.api.Chart:&nbsp;The&nbsp;plotted&nbsp;chart.</tt></dd></dl>
 <dl><dt><a name="-plot_both_json"><strong>plot_both_json</strong></a>()</dt><dd><tt>POST&nbsp;requests&nbsp;to&nbsp;/plot_both.json<br>
The&nbsp;body&nbsp;of&nbsp;the&nbsp;request&nbsp;should&nbsp;be&nbsp;JSON&nbsp;with&nbsp;key:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fylke:&nbsp;name&nbsp;of&nbsp;the&nbsp;county&nbsp;to&nbsp;plot<br>
The&nbsp;response&nbsp;will&nbsp;be&nbsp;the&nbsp;vega&nbsp;chart&nbsp;spec&nbsp;as&nbsp;JSON</tt></dd></dl>
 <dl><dt><a name="-plot_cumulative_cases"><strong>plot_cumulative_cases</strong></a>(data, county='Alle fylker', start='2020-02-21', end='2020-11-23')</dt><dd><tt>Creates&nbsp;a&nbsp;line&nbsp;chart&nbsp;of&nbsp;cumulative&nbsp;cases&nbsp;of&nbsp;Covic-19&nbsp;in&nbsp;given&nbsp;county.<br>
&nbsp;<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;data&nbsp;(pandas.core.frame.DataFrame):&nbsp;The&nbsp;data&nbsp;to&nbsp;be&nbsp;plotted.<br>
&nbsp;&nbsp;&nbsp;&nbsp;county&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;county&nbsp;to&nbsp;be&nbsp;plotted.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defaults&nbsp;to&nbsp;"Alle&nbsp;fylker".<br>
&nbsp;&nbsp;&nbsp;&nbsp;start&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;start&nbsp;date&nbsp;for&nbsp;the&nbsp;time&nbsp;range&nbsp;(inclusive).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format:&nbsp;YYYY-MM-DD.&nbsp;Defaults&nbsp;to&nbsp;"2020-02-21".<br>
&nbsp;&nbsp;&nbsp;&nbsp;end&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;end&nbsp;date&nbsp;for&nbsp;the&nbsp;time&nbsp;range&nbsp;(inclusive).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format:&nbsp;YYYY-MM-DD.&nbsp;Defaults&nbsp;to&nbsp;"2020-11-23".<br>
&nbsp;<br>
Returns:<br>
&nbsp;&nbsp;&nbsp;&nbsp;altair.vegalite.v4.api.Chart:&nbsp;The&nbsp;plotted&nbsp;line&nbsp;chart.</tt></dd></dl>
 <dl><dt><a name="-plot_cumulative_json"><strong>plot_cumulative_json</strong></a>()</dt><dd><tt>POST&nbsp;requests&nbsp;to&nbsp;/plot_cumulative.json<br>
The&nbsp;body&nbsp;of&nbsp;the&nbsp;request&nbsp;should&nbsp;be&nbsp;JSON&nbsp;with&nbsp;key:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fylke:&nbsp;name&nbsp;of&nbsp;the&nbsp;county&nbsp;to&nbsp;plot<br>
The&nbsp;response&nbsp;will&nbsp;be&nbsp;the&nbsp;vega&nbsp;chart&nbsp;spec&nbsp;as&nbsp;JSON</tt></dd></dl>
 <dl><dt><a name="-plot_norway"><strong>plot_norway</strong></a>()</dt><dd><tt>Creates&nbsp;a&nbsp;plot&nbsp;displaying&nbsp;the&nbsp;reported&nbsp;COVID-19&nbsp;rate&nbsp;per&nbsp;100000&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;inhabitants&nbsp;by&nbsp;county&nbsp;in&nbsp;Norway.<br>
&nbsp;<br>
The&nbsp;data&nbsp;was&nbsp;last&nbsp;updated&nbsp;11.11.2020.<br>
&nbsp;<br>
Returns:<br>
&nbsp;&nbsp;&nbsp;&nbsp;altair.vegalite.v4.api.Chart:&nbsp;The&nbsp;plotted&nbsp;chart.</tt></dd></dl>
 <dl><dt><a name="-plot_norway_json"><strong>plot_norway_json</strong></a>()</dt><dd><tt>Plots&nbsp;a&nbsp;map&nbsp;of&nbsp;Norway&nbsp;displaying&nbsp;the&nbsp;reported&nbsp;COVID-19&nbsp;rate&nbsp;per&nbsp;100000&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;inhabitants&nbsp;by&nbsp;county.<br>
The&nbsp;response&nbsp;is&nbsp;the&nbsp;vega&nbsp;chart&nbsp;spec&nbsp;as&nbsp;JSON</tt></dd></dl>
 <dl><dt><a name="-plot_reported_cases"><strong>plot_reported_cases</strong></a>(data, county='Alle fylker', start='2020-02-21', end='2020-11-23')</dt><dd><tt>Creates&nbsp;a&nbsp;bar&nbsp;chart&nbsp;of&nbsp;all&nbsp;reported&nbsp;cases&nbsp;of&nbsp;Covic-19&nbsp;in&nbsp;given&nbsp;county.<br>
&nbsp;<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;data&nbsp;(pandas.core.frame.DataFrame):&nbsp;The&nbsp;data&nbsp;to&nbsp;be&nbsp;plotted.<br>
&nbsp;&nbsp;&nbsp;&nbsp;county&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;county&nbsp;to&nbsp;be&nbsp;plotted.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defaults&nbsp;to&nbsp;"Alle&nbsp;fylker".<br>
&nbsp;&nbsp;&nbsp;&nbsp;start&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;start&nbsp;date&nbsp;for&nbsp;the&nbsp;time&nbsp;range&nbsp;(inclusive).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format:&nbsp;YYYY-MM-DD.&nbsp;Defaults&nbsp;to&nbsp;"2020-02-21".<br>
&nbsp;&nbsp;&nbsp;&nbsp;end&nbsp;(str,&nbsp;optional):&nbsp;The&nbsp;end&nbsp;date&nbsp;for&nbsp;the&nbsp;time&nbsp;range&nbsp;(inclusive).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Format:&nbsp;YYYY-MM-DD.&nbsp;Defaults&nbsp;to&nbsp;"2020-11-23".<br>
&nbsp;<br>
Returns:<br>
&nbsp;&nbsp;&nbsp;&nbsp;altair.vegalite.v4.api.Chart:&nbsp;The&nbsp;plotted&nbsp;bar&nbsp;chart.</tt></dd></dl>
 <dl><dt><a name="-plot_reported_json"><strong>plot_reported_json</strong></a>()</dt><dd><tt>POST&nbsp;requests&nbsp;to&nbsp;/plot_reported.json<br>
The&nbsp;body&nbsp;of&nbsp;the&nbsp;request&nbsp;should&nbsp;be&nbsp;JSON&nbsp;with&nbsp;key:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fylke:&nbsp;name&nbsp;of&nbsp;the&nbsp;county&nbsp;to&nbsp;plot<br>
The&nbsp;response&nbsp;will&nbsp;be&nbsp;the&nbsp;vega&nbsp;chart&nbsp;spec&nbsp;as&nbsp;JSON</tt></dd></dl>
 <dl><dt><a name="-root"><strong>root</strong></a>()</dt><dd><tt>Creates&nbsp;the&nbsp;root&nbsp;page.<br>
&nbsp;<br>
Returns:<br>
&nbsp;&nbsp;&nbsp;&nbsp;str:&nbsp;The&nbsp;HTML&nbsp;from&nbsp;template&nbsp;'plot.html'.</tt></dd></dl>
</td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#55aa55">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Data</strong></big></font></td></tr>
    
<tr><td bgcolor="#55aa55"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><strong>app</strong> = &lt;Flask 'web_visualization'&gt;<br>
<strong>color_cumulative</strong> = '#a52008'<br>
<strong>color_reported</strong> = '#088da5'<br>
<strong>data</strong> =           Dato  Kumulativt antall  Nye tilfeller... 5  Vestfold og Telemark

[3312 rows x 4 columns]<br>
<strong>request</strong> = &lt;LocalProxy unbound&gt;</td></tr></table>
</body></html>